<div class="side-bar-head">
  <div class="header-name">
    <a href="#">HicPict (俳句 ピクト)</a>
  </div>
  
</div>

<div class="side-bar-main">
  <div>
    <参考サイト一覧>
  </div>
  <div>
    ●歳時記
  </div>
  <div>
    <%= link_to "・歳時記インデックス", "http://www.haisi.com/saijiki/" %><br>
    <%= link_to "・きごさい歳時記", "https://kigosai.sub.jp/001/" %><br>
    <%= link_to "・私の俳句歳時記", "https://www.mysai.net/" %><br>
    <%= link_to "・日々是活活き生き暮らし歳時記", "https://i-nekko.jp/" %><br>
  </div>


</div>