<div class="side-bar-head">
  <div class="header-name">
    <a href="#">HicPict (俳句 ピクト)</a>
  </div>
  
</div>

<div class="side-bar-main">
  <div>
  <参考サイト一覧>
  </div>
  <div>
  ●歳時記</br>
  <a href=http://www.haisi.com/saijiki/>・歳時記インデックス</a></br>
  <a href=https://kigosai.sub.jp/001/>・きごさい歳時記</a></br>
  <a href=https://www.mysai.net/>・わたしの俳句歳時記</a></br>
  <a href=https://i-nekko.jp/>・日々是活き生き暮らし歳時記</a>
  </div>

</div>