.wrapper {
  display: flex;
}

.side-bar {
  background-color: #FFFFFF;
  width: 300px;
  height: 100vh;
}

.side-bar-head {
  height: 80px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 24px;
  color: #FAFAFA;
  text-decoration: none;
}

.side-bar-main {
  background-color: #70e98e;
  height: calc(100vh - 80px);
  padding: 0 20px;
}

.main-pict {
  background-color: #97deeba9;
  width: calc(100vw - 300px);
}

.search-head {
  height: 80px;
  padding: 0 30px;
}

.pictures {
  background-color: #b7e6a9e3;
  height: calc(100vh - 80px);
  padding: 46px 30px 0;
}